@import url('https://fonts.googleapis.com/css?family=Montserrat');
@import url('https://fonts.googleapis.com/css?family=PT+Mono&subset=cyrillic');
@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

[v-cloak] {display: none}

html, body {
    min-height: 100vh;
    font-family: 'Montserrat', sans-serif !important;
    /* font-family: 'Permanent Marker', cursive !important; */
    font-size: 120%;
}


.termwin {
    display: block;
    position: fixed;
    text-align: left;
    padding: 1vw;
    color: #fff;
    z-index: 6001;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    font-family: 'PT Mono', monospace !important;
}
.monotype {
    font-family: 'PT Mono', monospace !important;
}
.night .termwin {
    background: linear-gradient(rgba(0,0,0,0.9), rgba(0,0,0,0.6), rgba(0,0,0,0.6));
}
.day .termwin {
    background: linear-gradient(rgba(255,255,255,0.9), rgba(255,255,255,0.6), rgba(255,255,255,0.6));
}
.day [terminal] {
    color: #000 !important;
}
.night [terminal] {
    color: #fff !important;
}
.night ::placeholder {
    color: #777;
}
.day ::placeholder {
    color: #444;
}
.is-drag {
    opacity: 0.5;
}
.is-drag * {
    color: transparent !important;
}
.is-drag .tags > * * {
    opacity: 0;
}
.is-drag .money.usd::after {
    color: transparent;
}
.is-drag .money.rub::after {
    color: transparent;
}
.termwin * {
    position: relative;
}
[terminal] {
    white-space: pre;
    background-color: transparent !important;
    border-color: transparent !important;
    box-shadow: none !important;
    outline: none !important;
    font-family: 'PT Mono', monospace !important;
    resize: none;
    width: 50% !important;
    margin: -.1em .2em;
}
.is-like-nolayput {
    opacity: .75;
    overflow: hidden;
    white-space: pre;
    background-color: transparent !important;
    border-color: transparent !important;
    outline: none !important;
    /* font-family: 'PT Mono', monospace !important; */
    font-family: 'Montserrat', sans-serif !important;
    resize: none;
}
.is-nolay .is-nolayput, .is-nolay .is-nolayput select {
    /* width: auto; */
    overflow: hidden;
    white-space: pre;
    background-color: transparent !important;
    border-color: transparent !important;
    border-bottom: currentColor solid 2px !important;
    box-shadow: none;
    outline: none !important;
    /* font-family: 'PT Mono', monospace !important; */
    font-family: 'Montserrat', sans-serif !important;
    resize: none;
}
.termcode {
    line-height: 0.5;
    font-size: .6rem;
    width: 100% !important;
    min-height: unset;
    margin: 0;
}
.is-nolay .is-nolayput:focus, [teeminal]:focus {
    outline: none !important;
    box-shadow: none;
}

tr.is-perfetto > * {
    width: 5%;
}
tr.is-perfetto > .is-fit {
    width: 10%;
}
tr.is-perfetto > .is-fat {
    width: 45%;
}

.is-cell-center {
    text-align: center !important;
}


.money {
    font-weight: bold;
}
.money.usd::after {
    content: " $";
    color: inherit;
}
.money.rub::after {
    content: " ₽";
    color: inherit;
}
.marker {
    width: 3em;
    text-align: center;
}
.demoswitcher {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: center;
    justify-content: left;
    padding: .1rem;
}
.switcher-container {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: space-between;
    padding: .1rem;
}
.switcher {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    height: 100% !important;
    flex-grow: 1;
}
.switcher > * {
    margin: 0 !important;
}
.switcher .tags .tag {
    margin: 0 !important;
    user-select: none;
}
.tags {
    overflow: hidden;
    flex-wrap: nowrap;
}
.sponge {
    transition: width 300ms 100ms ease, opacity 200ms 50ms ease;
    outline: none;
    overflow: hidden;
}
#cursor {
    animation: blink 1000ms linear infinite forwards;
    font-weight: bold;
}
@keyframes blink {
    0% { opacity: 1; }
    49% { opacity: 1; }
    50% { opacity: 0; }
    100% { opacity: 0; }
}
.card-footer {
    border: none;
}
.night .table.is-bordered td, .night .table.is-bordered th {
    border: 1px #333 solid;
}
.day .is-dark {
    border: 1px #cccccc solid;
}

.mloader {
    /* background: url("/static/load.gif"); */
    /* background: #000;
    background-clip: border-box;
    position: fixed;
    width: 100vw;
    height: 100vh;
    z-index: 1003;
    transition: opacity cubic-bezier(0.39, 0.575, 0.565, 1) .4s; */
}
.stopLoad {
    opacity: 0;
    background-size: 120% 120%;
}

.has-flex-centered {
    display: flex;
    justify-content: center;

}
.is-sticky {
    top: 0 !important;
    position: sticky !important;
}
.has-fill {
    min-height: 100% !important;
    /* width: 100%; */
}
main.has-fill {
    min-height: 100vh !important;
    /* width: 100%; */
}
.has-fill5 {
    min-height: 50vh !important;
}
.is-true-fill {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.has-v-fill {
    width: 100% !important;
}
.has-shadow {
    box-shadow: 0 2px 3px rgba(10,10,10,.1), 0 0 0 1px rgba(10,10,10,.1);
}
.has-sides {
    padding-left: calc(2 * var(--columnGap));
    padding-right: calc(2 * var(--columnGap));
}
.is-margin {
    margin: 1.5rem !important;
}
.is-padding {
    padding: 1.5rem !important;
}
.is-margin-medium {
    margin: .5rem !important;
}
.is-padding-medium {
    padding: .5rem !important;
}
.is-margin-small {
    margin: .25rem !important;
}
.is-padding-small {
    padding: .25rem !important;
}
.is-padding-v {
    padding-top: 1rem !important;
    padding-bottom: 1rem !important;
}
.is-margin-vertical, .is-margin-v {
    margin-top: 1rem !important;
    margin-bottom: 1rem !important;
}
.is-margin-h {
    margin-left: 1rem !important;
    margin-right: 1rem !important;
}
.is-padding-h {
    padding-left: 1rem !important;
    padding-right: 1rem !important;
}
.is-margin-h-small {
    margin-left: .7rem !important;
    margin-right: .7rem !important;
}
.is-margin-vertical-small, .is-margin-v-small {
    margin-top: .7rem !important;
    margin-bottom: .7rem !important;
}
.is-paddingless {
    padding: none !important;
}
.is-tr {
    opacity: 0;
}
.button.is-no-border {
    border: none;
}
.is-the-0 {
    width: 0px !important;
    opacity: 0;
}
.is-1 {
    opacity: 1;
}
.is-fullwidthimp {
    width: 100%;
}
input.is-outline {
    background: transparent !important;
    border: none !important;
    box-shadow: none !important
}


.has-no-background {
    background: rgba(0, 0, 0, 0) !important;
}
.has-text-red-white-bis {
    color: #ffebee !important;
}
.has-background-red-white-bis {
    background-color: #ffebee !important;
}
.switch.with-background-red-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffebee !important;
}
.has-text-red-white-ter {
    color: #ffcdd2 !important;
}
.has-background-red-white-ter {
    background-color: #ffcdd2 !important;
}
.switch.with-background-red-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffcdd2 !important;
}
.has-text-red-lighter-bis {
    color: #ef9a9a !important;
}
.has-background-red-lighter-bis {
    background-color: #ef9a9a !important;
}
.switch.with-background-red-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ef9a9a !important;
}
.has-text-red-lighter {
    color: #e57373 !important;
}
.has-background-red-lighter {
    background-color: #e57373 !important;
}
.switch.with-background-red-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e57373 !important;
}
.has-text-red-light {
    color: #ef5350 !important;
}
.has-background-red-light {
    background-color: #ef5350 !important;
}
.switch.with-background-red-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ef5350 !important;
}
.has-text-red {
    color: #f44336 !important;
}
.has-background-red {
    background-color: #f44336 !important;
}
.switch.with-background-red.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f44336 !important;
}
.has-text-red-dark {
    color: #e53935 !important;
}
.has-background-red-dark {
    background-color: #e53935 !important;
}
.switch.with-background-red-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e53935 !important;
}
.has-text-red-darker {
    color: #d32f2f !important;
}
.has-background-red-darker {
    background-color: #d32f2f !important;
}
.switch.with-background-red-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #d32f2f !important;
}
.has-text-red-black-ter {
    color: #c62828 !important;
}
.has-background-red-black-ter {
    background-color: #c62828 !important;
}
.switch.with-background-red-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #c62828 !important;
}
.has-text-red-black-bis {
    color: #b71c1c !important;
}
.has-background-red-black-bis {
    background-color: #b71c1c !important;
}
.switch.with-background-red-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #b71c1c !important;
}
.has-text-red-accent-lighter {
    color: #ff8a80 !important;
}
.has-background-red-accent-lighter {
    background-color: #ff8a80 !important;
}
.switch.with-background-red-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff8a80 !important;
}
.has-text-red-accent-light {
    color: #ff5252 !important;
}
.has-background-red-accent-light {
    background-color: #ff5252 !important;
}
.switch.with-background-red-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff5252 !important;
}
.has-text-red-accent-dark {
    color: #ff1744 !important;
}
.has-background-red-accent-dark {
    background-color: #ff1744 !important;
}
.switch.with-background-red-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff1744 !important;
}
.has-text-red-accent-darker {
    color: #d50000 !important;
}
.has-background-red-accent-darker {
    background-color: #d50000 !important;
}
.switch.with-background-red-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #d50000 !important;
}
.has-text-pink-white-bis {
    color: #fce4ec !important;
}
.has-background-pink-white-bis {
    background-color: #fce4ec !important;
}
.switch.with-background-pink-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fce4ec !important;
}
.has-text-pink-white-ter {
    color: #f8bbd0 !important;
}
.has-background-pink-white-ter {
    background-color: #f8bbd0 !important;
}
.switch.with-background-pink-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f8bbd0 !important;
}
.has-text-pink-lighter-bis {
    color: #f48fb1 !important;
}
.has-background-pink-lighter-bis {
    background-color: #f48fb1 !important;
}
.switch.with-background-pink-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f48fb1 !important;
}
.has-text-pink-lighter {
    color: #f06292 !important;
}
.has-background-pink-lighter {
    background-color: #f06292 !important;
}
.switch.with-background-pink-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f06292 !important;
}
.has-text-pink-light {
    color: #ec407a !important;
}
.has-background-pink-light {
    background-color: #ec407a !important;
}
.switch.with-background-pink-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ec407a !important;
}
.has-text-pink {
    color: #e91e63 !important;
}
.has-background-pink {
    background-color: #e91e63 !important;
}
.switch.with-background-pink.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e91e63 !important;
}
.has-text-pink-dark {
    color: #d81b60 !important;
}
.has-background-pink-dark {
    background-color: #d81b60 !important;
}
.switch.with-background-pink-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #d81b60 !important;
}
.has-text-pink-darker {
    color: #c2185b !important;
}
.has-background-pink-darker {
    background-color: #c2185b !important;
}
.switch.with-background-pink-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #c2185b !important;
}
.has-text-pink-black-ter {
    color: #ad1457 !important;
}
.has-background-pink-black-ter {
    background-color: #ad1457 !important;
}
.switch.with-background-pink-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ad1457 !important;
}
.has-text-pink-black-bis {
    color: #880e4f !important;
}
.has-background-pink-black-bis {
    background-color: #880e4f !important;
}
.switch.with-background-pink-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #880e4f !important;
}
.has-text-pink-accent-lighter {
    color: #ff80ab !important;
}
.has-background-pink-accent-lighter {
    background-color: #ff80ab !important;
}
.switch.with-background-pink-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff80ab !important;
}
.has-text-pink-accent-light {
    color: #ff4081 !important;
}
.has-background-pink-accent-light {
    background-color: #ff4081 !important;
}
.switch.with-background-pink-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff4081 !important;
}
.has-text-pink-accent-dark {
    color: #f50057 !important;
}
.has-background-pink-accent-dark {
    background-color: #f50057 !important;
}
.switch.with-background-pink-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f50057 !important;
}
.has-text-pink-accent-darker {
    color: #c51162 !important;
}
.has-background-pink-accent-darker {
    background-color: #c51162 !important;
}
.switch.with-background-pink-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #c51162 !important;
}
.has-text-purple-white-bis {
    color: #f3e5f5 !important;
}
.has-background-purple-white-bis {
    background-color: #f3e5f5 !important;
}
.switch.with-background-purple-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f3e5f5 !important;
}
.has-text-purple-white-ter {
    color: #e1bee7 !important;
}
.has-background-purple-white-ter {
    background-color: #e1bee7 !important;
}
.switch.with-background-purple-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e1bee7 !important;
}
.has-text-purple-lighter-bis {
    color: #ce93d8 !important;
}
.has-background-purple-lighter-bis {
    background-color: #ce93d8 !important;
}
.switch.with-background-purple-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ce93d8 !important;
}
.has-text-purple-lighter {
    color: #ba68c8 !important;
}
.has-background-purple-lighter {
    background-color: #ba68c8 !important;
}
.switch.with-background-purple-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ba68c8 !important;
}
.has-text-purple-light {
    color: #ab47bc !important;
}
.has-background-purple-light {
    background-color: #ab47bc !important;
}
.switch.with-background-purple-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ab47bc !important;
}
.has-text-purple {
    color: #9c27b0 !important;
}
.has-background-purple {
    background-color: #9c27b0 !important;
}
.switch.with-background-purple.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #9c27b0 !important;
}
.has-text-purple-dark {
    color: #8e24aa !important;
}
.has-background-purple-dark {
    background-color: #8e24aa !important;
}
.switch.with-background-purple-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #8e24aa !important;
}
.has-text-purple-darker {
    color: #7b1fa2 !important;
}
.has-background-purple-darker {
    background-color: #7b1fa2 !important;
}
.switch.with-background-purple-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #7b1fa2 !important;
}
.has-text-purple-black-ter {
    color: #6a1b9a !important;
}
.has-background-purple-black-ter {
    background-color: #6a1b9a !important;
}
.switch.with-background-purple-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #6a1b9a !important;
}
.has-text-purple-black-bis {
    color: #4a148c !important;
}
.has-background-purple-black-bis {
    background-color: #4a148c !important;
}
.switch.with-background-purple-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #4a148c !important;
}
.has-text-purple-accent-lighter {
    color: #ea80fc !important;
}
.has-background-purple-accent-lighter {
    background-color: #ea80fc !important;
}
.switch.with-background-purple-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ea80fc !important;
}
.has-text-purple-accent-light {
    color: #e040fb !important;
}
.has-background-purple-accent-light {
    background-color: #e040fb !important;
}
.switch.with-background-purple-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e040fb !important;
}
.has-text-purple-accent-dark {
    color: #d500f9 !important;
}
.has-background-purple-accent-dark {
    background-color: #d500f9 !important;
}
.switch.with-background-purple-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #d500f9 !important;
}
.has-text-purple-accent-darker {
    color: #aa00ff !important;
}
.has-background-purple-accent-darker {
    background-color: #aa00ff !important;
}
.switch.with-background-purple-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #aa00ff !important;
}
.has-text-deep-purple-white-bis {
    color: #ede7f6 !important;
}
.has-background-deep-purple-white-bis {
    background-color: #ede7f6 !important;
}
.switch.with-background-deep-purple-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ede7f6 !important;
}
.has-text-deep-purple-white-ter {
    color: #d1c4e9 !important;
}
.has-background-deep-purple-white-ter {
    background-color: #d1c4e9 !important;
}
.switch.with-background-deep-purple-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #d1c4e9 !important;
}
.has-text-deep-purple-lighter-bis {
    color: #b39ddb !important;
}
.has-background-deep-purple-lighter-bis {
    background-color: #b39ddb !important;
}
.switch.with-background-deep-purple-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #b39ddb !important;
}
.has-text-deep-purple-lighter {
    color: #9575cd !important;
}
.has-background-deep-purple-lighter {
    background-color: #9575cd !important;
}
.switch.with-background-deep-purple-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #9575cd !important;
}
.has-text-deep-purple-light {
    color: #7e57c2 !important;
}
.has-background-deep-purple-light {
    background-color: #7e57c2 !important;
}
.switch.with-background-deep-purple-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #7e57c2 !important;
}
.has-text-deep-purple {
    color: #673ab7 !important;
}
.has-background-deep-purple {
    background-color: #673ab7 !important;
}
.switch.with-background-deep-purple.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #673ab7 !important;
}
.has-text-deep-purple-dark {
    color: #5e35b1 !important;
}
.has-background-deep-purple-dark {
    background-color: #5e35b1 !important;
}
.switch.with-background-deep-purple-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #5e35b1 !important;
}
.has-text-deep-purple-darker {
    color: #512da8 !important;
}
.has-background-deep-purple-darker {
    background-color: #512da8 !important;
}
.switch.with-background-deep-purple-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #512da8 !important;
}
.has-text-deep-purple-black-ter {
    color: #4527a0 !important;
}
.has-background-deep-purple-black-ter {
    background-color: #4527a0 !important;
}
.switch.with-background-deep-purple-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #4527a0 !important;
}
.has-text-deep-purple-black-bis {
    color: #311b92 !important;
}
.has-background-deep-purple-black-bis {
    background-color: #311b92 !important;
}
.switch.with-background-deep-purple-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #311b92 !important;
}
.has-text-deep-purple-accent-lighter {
    color: #b388ff !important;
}
.has-background-deep-purple-accent-lighter {
    background-color: #b388ff !important;
}
.switch.with-background-deep-purple-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #b388ff !important;
}
.has-text-deep-purple-accent-light {
    color: #7c4dff !important;
}
.has-background-deep-purple-accent-light {
    background-color: #7c4dff !important;
}
.switch.with-background-deep-purple-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #7c4dff !important;
}
.has-text-deep-purple-accent-dark {
    color: #651fff !important;
}
.has-background-deep-purple-accent-dark {
    background-color: #651fff !important;
}
.switch.with-background-deep-purple-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #651fff !important;
}
.has-text-deep-purple-accent-darker {
    color: #6200ea !important;
}
.has-background-deep-purple-accent-darker {
    background-color: #6200ea !important;
}
.switch.with-background-deep-purple-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #6200ea !important;
}
.has-text-indigo-white-bis {
    color: #e8eaf6 !important;
}
.has-background-indigo-white-bis {
    background-color: #e8eaf6 !important;
}
.switch.with-background-indigo-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e8eaf6 !important;
}
.has-text-indigo-white-ter {
    color: #c5cae9 !important;
}
.has-background-indigo-white-ter {
    background-color: #c5cae9 !important;
}
.switch.with-background-indigo-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #c5cae9 !important;
}
.has-text-indigo-lighter-bis {
    color: #9fa8da !important;
}
.has-background-indigo-lighter-bis {
    background-color: #9fa8da !important;
}
.switch.with-background-indigo-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #9fa8da !important;
}
.has-text-indigo-lighter {
    color: #7986cb !important;
}
.has-background-indigo-lighter {
    background-color: #7986cb !important;
}
.switch.with-background-indigo-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #7986cb !important;
}
.has-text-indigo-light {
    color: #5c6bc0 !important;
}
.has-background-indigo-light {
    background-color: #5c6bc0 !important;
}
.switch.with-background-indigo-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #5c6bc0 !important;
}
.has-text-indigo {
    color: #3f51b5 !important;
}
.has-background-indigo {
    background-color: #3f51b5 !important;
}
.switch.with-background-indigo.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #3f51b5 !important;
}
.has-text-indigo-dark {
    color: #3949ab !important;
}
.has-background-indigo-dark {
    background-color: #3949ab !important;
}
.switch.with-background-indigo-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #3949ab !important;
}
.has-text-indigo-darker {
    color: #303f9f !important;
}
.has-background-indigo-darker {
    background-color: #303f9f !important;
}
.switch.with-background-indigo-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #303f9f !important;
}
.has-text-indigo-black-ter {
    color: #283593 !important;
}
.has-background-indigo-black-ter {
    background-color: #283593 !important;
}
.switch.with-background-indigo-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #283593 !important;
}
.has-text-indigo-black-bis {
    color: #1a237e !important;
}
.has-background-indigo-black-bis {
    background-color: #1a237e !important;
}
.switch.with-background-indigo-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #1a237e !important;
}
.has-text-indigo-accent-lighter {
    color: #8c9eff !important;
}
.has-background-indigo-accent-lighter {
    background-color: #8c9eff !important;
}
.switch.with-background-indigo-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #8c9eff !important;
}
.has-text-indigo-accent-light {
    color: #536dfe !important;
}
.has-background-indigo-accent-light {
    background-color: #536dfe !important;
}
.switch.with-background-indigo-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #536dfe !important;
}
.has-text-indigo-accent-dark {
    color: #3d5afe !important;
}
.has-background-indigo-accent-dark {
    background-color: #3d5afe !important;
}
.switch.with-background-indigo-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #3d5afe !important;
}
.has-text-indigo-accent-darker {
    color: #304ffe !important;
}
.has-background-indigo-accent-darker {
    background-color: #304ffe !important;
}
.switch.with-background-indigo-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #304ffe !important;
}
.has-text-blue-white-bis {
    color: #e3f2fd !important;
}
.has-background-blue-white-bis {
    background-color: #e3f2fd !important;
}
.switch.with-background-blue-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e3f2fd !important;
}
.has-text-blue-white-ter {
    color: #bbdefb !important;
}
.has-background-blue-white-ter {
    background-color: #bbdefb !important;
}
.switch.with-background-blue-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #bbdefb !important;
}
.has-text-blue-lighter-bis {
    color: #90caf9 !important;
}
.has-background-blue-lighter-bis {
    background-color: #90caf9 !important;
}
.switch.with-background-blue-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #90caf9 !important;
}
.has-text-blue-lighter {
    color: #64b5f6 !important;
}
.has-background-blue-lighter {
    background-color: #64b5f6 !important;
}
.switch.with-background-blue-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #64b5f6 !important;
}
.has-text-blue-light {
    color: #42a5f5 !important;
}
.has-background-blue-light {
    background-color: #42a5f5 !important;
}
.switch.with-background-blue-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #42a5f5 !important;
}
.has-text-blue {
    color: #2196f3 !important;
}
.has-background-blue {
    background-color: #2196f3 !important;
}
.switch.with-background-blue.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #2196f3 !important;
}
.has-text-blue-dark {
    color: #1e88e5 !important;
}
.has-background-blue-dark {
    background-color: #1e88e5 !important;
}
.switch.with-background-blue-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #1e88e5 !important;
}
.has-text-blue-darker {
    color: #1976d2 !important;
}
.has-background-blue-darker {
    background-color: #1976d2 !important;
}
.switch.with-background-blue-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #1976d2 !important;
}
.has-text-blue-black-ter {
    color: #1565c0 !important;
}
.has-background-blue-black-ter {
    background-color: #1565c0 !important;
}
.switch.with-background-blue-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #1565c0 !important;
}
.has-text-blue-black-bis {
    color: #0d47a1 !important;
}
.has-background-blue-black-bis {
    background-color: #0d47a1 !important;
}
.switch.with-background-blue-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #0d47a1 !important;
}
.has-text-blue-accent-lighter {
    color: #82b1ff !important;
}
.has-background-blue-accent-lighter {
    background-color: #82b1ff !important;
}
.switch.with-background-blue-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #82b1ff !important;
}
.has-text-blue-accent-light {
    color: #448aff !important;
}
.has-background-blue-accent-light {
    background-color: #448aff !important;
}
.switch.with-background-blue-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #448aff !important;
}
.has-text-blue-accent-dark {
    color: #2979ff !important;
}
.has-background-blue-accent-dark {
    background-color: #2979ff !important;
}
.switch.with-background-blue-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #2979ff !important;
}
.has-text-blue-accent-darker {
    color: #2962ff !important;
}
.has-background-blue-accent-darker {
    background-color: #2962ff !important;
}
.switch.with-background-blue-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #2962ff !important;
}
.has-text-light-blue-white-bis {
    color: #e1f5fe !important;
}
.has-background-light-blue-white-bis {
    background-color: #e1f5fe !important;
}
.switch.with-background-light-blue-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e1f5fe !important;
}
.has-text-light-blue-white-ter {
    color: #b3e5fc !important;
}
.has-background-light-blue-white-ter {
    background-color: #b3e5fc !important;
}
.switch.with-background-light-blue-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #b3e5fc !important;
}
.has-text-light-blue-lighter-bis {
    color: #81d4fa !important;
}
.has-background-light-blue-lighter-bis {
    background-color: #81d4fa !important;
}
.switch.with-background-light-blue-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #81d4fa !important;
}
.has-text-light-blue-lighter {
    color: #4fc3f7 !important;
}
.has-background-light-blue-lighter {
    background-color: #4fc3f7 !important;
}
.switch.with-background-light-blue-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #4fc3f7 !important;
}
.has-text-light-blue-light {
    color: #29b6f6 !important;
}
.has-background-light-blue-light {
    background-color: #29b6f6 !important;
}
.switch.with-background-light-blue-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #29b6f6 !important;
}
.has-text-light-blue {
    color: #03a9f4 !important;
}
.has-background-light-blue {
    background-color: #03a9f4 !important;
}
.switch.with-background-light-blue.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #03a9f4 !important;
}
.has-text-light-blue-dark {
    color: #039be5 !important;
}
.has-background-light-blue-dark {
    background-color: #039be5 !important;
}
.switch.with-background-light-blue-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #039be5 !important;
}
.has-text-light-blue-darker {
    color: #0288d1 !important;
}
.has-background-light-blue-darker {
    background-color: #0288d1 !important;
}
.switch.with-background-light-blue-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #0288d1 !important;
}
.has-text-light-blue-black-ter {
    color: #0277bd !important;
}
.has-background-light-blue-black-ter {
    background-color: #0277bd !important;
}
.switch.with-background-light-blue-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #0277bd !important;
}
.has-text-light-blue-black-bis {
    color: #01579b !important;
}
.has-background-light-blue-black-bis {
    background-color: #01579b !important;
}
.switch.with-background-light-blue-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #01579b !important;
}
.has-text-light-blue-accent-lighter {
    color: #80d8ff !important;
}
.has-background-light-blue-accent-lighter {
    background-color: #80d8ff !important;
}
.switch.with-background-light-blue-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #80d8ff !important;
}
.has-text-light-blue-accent-light {
    color: #40c4ff !important;
}
.has-background-light-blue-accent-light {
    background-color: #40c4ff !important;
}
.switch.with-background-light-blue-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #40c4ff !important;
}
.has-text-light-blue-accent-dark {
    color: #00b0ff !important;
}
.has-background-light-blue-accent-dark {
    background-color: #00b0ff !important;
}
.switch.with-background-light-blue-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00b0ff !important;
}
.has-text-light-blue-accent-darker {
    color: #0091ea !important;
}
.has-background-light-blue-accent-darker {
    background-color: #0091ea !important;
}
.switch.with-background-light-blue-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #0091ea !important;
}
.has-text-cyan-white-bis {
    color: #e0f7fa !important;
}
.has-background-cyan-white-bis {
    background-color: #e0f7fa !important;
}
.switch.with-background-cyan-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e0f7fa !important;
}
.has-text-cyan-white-ter {
    color: #b2ebf2 !important;
}
.has-background-cyan-white-ter {
    background-color: #b2ebf2 !important;
}
.switch.with-background-cyan-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #b2ebf2 !important;
}
.has-text-cyan-lighter-bis {
    color: #80deea !important;
}
.has-background-cyan-lighter-bis {
    background-color: #80deea !important;
}
.switch.with-background-cyan-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #80deea !important;
}
.has-text-cyan-lighter {
    color: #4dd0e1 !important;
}
.has-background-cyan-lighter {
    background-color: #4dd0e1 !important;
}
.switch.with-background-cyan-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #4dd0e1 !important;
}
.has-text-cyan-light {
    color: #26c6da !important;
}
.has-background-cyan-light {
    background-color: #26c6da !important;
}
.switch.with-background-cyan-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #26c6da !important;
}
.has-text-cyan {
    color: #00bcd4 !important;
}
.has-background-cyan {
    background-color: #00bcd4 !important;
}
.switch.with-background-cyan.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00bcd4 !important;
}
.has-text-cyan-dark {
    color: #00acc1 !important;
}
.has-background-cyan-dark {
    background-color: #00acc1 !important;
}
.switch.with-background-cyan-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00acc1 !important;
}
.has-text-cyan-darker {
    color: #0097a7 !important;
}
.has-background-cyan-darker {
    background-color: #0097a7 !important;
}
.switch.with-background-cyan-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #0097a7 !important;
}
.has-text-cyan-black-ter {
    color: #00838f !important;
}
.has-background-cyan-black-ter {
    background-color: #00838f !important;
}
.switch.with-background-cyan-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00838f !important;
}
.has-text-cyan-black-bis {
    color: #006064 !important;
}
.has-background-cyan-black-bis {
    background-color: #006064 !important;
}
.switch.with-background-cyan-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #006064 !important;
}
.has-text-cyan-accent-lighter {
    color: #84ffff !important;
}
.has-background-cyan-accent-lighter {
    background-color: #84ffff !important;
}
.switch.with-background-cyan-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #84ffff !important;
}
.has-text-cyan-accent-light {
    color: #18ffff !important;
}
.has-background-cyan-accent-light {
    background-color: #18ffff !important;
}
.switch.with-background-cyan-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #18ffff !important;
}
.has-text-cyan-accent-dark {
    color: #00e5ff !important;
}
.has-background-cyan-accent-dark {
    background-color: #00e5ff !important;
}
.switch.with-background-cyan-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00e5ff !important;
}
.has-text-cyan-accent-darker {
    color: #00b8d4 !important;
}
.has-background-cyan-accent-darker {
    background-color: #00b8d4 !important;
}
.switch.with-background-cyan-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00b8d4 !important;
}
.has-text-teal-white-bis {
    color: #e0f2f1 !important;
}
.has-background-teal-white-bis {
    background-color: #e0f2f1 !important;
}
.switch.with-background-teal-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e0f2f1 !important;
}
.has-text-teal-white-ter {
    color: #b2dfdb !important;
}
.has-background-teal-white-ter {
    background-color: #b2dfdb !important;
}
.switch.with-background-teal-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #b2dfdb !important;
}
.has-text-teal-lighter-bis {
    color: #80cbc4 !important;
}
.has-background-teal-lighter-bis {
    background-color: #80cbc4 !important;
}
.switch.with-background-teal-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #80cbc4 !important;
}
.has-text-teal-lighter {
    color: #4db6ac !important;
}
.has-background-teal-lighter {
    background-color: #4db6ac !important;
}
.switch.with-background-teal-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #4db6ac !important;
}
.has-text-teal-light {
    color: #26a69a !important;
}
.has-background-teal-light {
    background-color: #26a69a !important;
}
.switch.with-background-teal-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #26a69a !important;
}
.has-text-teal {
    color: #009688 !important;
}
.has-background-teal {
    background-color: #009688 !important;
}
.switch.with-background-teal.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #009688 !important;
}
.has-text-teal-dark {
    color: #00897b !important;
}
.has-background-teal-dark {
    background-color: #00897b !important;
}
.switch.with-background-teal-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00897b !important;
}
.has-text-teal-darker {
    color: #00796b !important;
}
.has-background-teal-darker {
    background-color: #00796b !important;
}
.switch.with-background-teal-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00796b !important;
}
.has-text-teal-black-ter {
    color: #00695c !important;
}
.has-background-teal-black-ter {
    background-color: #00695c !important;
}
.switch.with-background-teal-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00695c !important;
}
.has-text-teal-black-bis {
    color: #004d40 !important;
}
.has-background-teal-black-bis {
    background-color: #004d40 !important;
}
.switch.with-background-teal-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #004d40 !important;
}
.has-text-teal-accent-lighter {
    color: #a7ffeb !important;
}
.has-background-teal-accent-lighter {
    background-color: #a7ffeb !important;
}
.switch.with-background-teal-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #a7ffeb !important;
}
.has-text-teal-accent-light {
    color: #64ffda !important;
}
.has-background-teal-accent-light {
    background-color: #64ffda !important;
}
.switch.with-background-teal-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #64ffda !important;
}
.has-text-teal-accent-dark {
    color: #1de9b6 !important;
}
.has-background-teal-accent-dark {
    background-color: #1de9b6 !important;
}
.switch.with-background-teal-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #1de9b6 !important;
}
.has-text-teal-accent-darker {
    color: #00bfa5 !important;
}
.has-background-teal-accent-darker {
    background-color: #00bfa5 !important;
}
.switch.with-background-teal-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00bfa5 !important;
}
.has-text-green-white-bis {
    color: #e8f5e9 !important;
}
.has-background-green-white-bis {
    background-color: #e8f5e9 !important;
}
.switch.with-background-green-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e8f5e9 !important;
}
.has-text-green-white-ter {
    color: #c8e6c9 !important;
}
.has-background-green-white-ter {
    background-color: #c8e6c9 !important;
}
.switch.with-background-green-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #c8e6c9 !important;
}
.has-text-green-lighter-bis {
    color: #a5d6a7 !important;
}
.has-background-green-lighter-bis {
    background-color: #a5d6a7 !important;
}
.switch.with-background-green-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #a5d6a7 !important;
}
.has-text-green-lighter {
    color: #81c784 !important;
}
.has-background-green-lighter {
    background-color: #81c784 !important;
}
.switch.with-background-green-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #81c784 !important;
}
.has-text-green-light {
    color: #66bb6a !important;
}
.has-background-green-light {
    background-color: #66bb6a !important;
}
.switch.with-background-green-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #66bb6a !important;
}
.has-text-green {
    color: #4caf50 !important;
}
.has-background-green {
    background-color: #4caf50 !important;
}
.switch.with-background-green.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #4caf50 !important;
}
.has-text-green-dark {
    color: #43a047 !important;
}
.has-background-green-dark {
    background-color: #43a047 !important;
}
.switch.with-background-green-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #43a047 !important;
}
.has-text-green-darker {
    color: #388e3c !important;
}
.has-background-green-darker {
    background-color: #388e3c !important;
}
.switch.with-background-green-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #388e3c !important;
}
.has-text-green-black-ter {
    color: #2e7d32 !important;
}
.has-background-green-black-ter {
    background-color: #2e7d32 !important;
}
.switch.with-background-green-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #2e7d32 !important;
}
.has-text-green-black-bis {
    color: #1b5e20 !important;
}
.has-background-green-black-bis {
    background-color: #1b5e20 !important;
}
.switch.with-background-green-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #1b5e20 !important;
}
.has-text-green-accent-lighter {
    color: #b9f6ca !important;
}
.has-background-green-accent-lighter {
    background-color: #b9f6ca !important;
}
.switch.with-background-green-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #b9f6ca !important;
}
.has-text-green-accent-light {
    color: #69f0ae !important;
}
.has-background-green-accent-light {
    background-color: #69f0ae !important;
}
.switch.with-background-green-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #69f0ae !important;
}
.has-text-green-accent-dark {
    color: #00e676 !important;
}
.has-background-green-accent-dark {
    background-color: #00e676 !important;
}
.switch.with-background-green-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00e676 !important;
}
.has-text-green-accent-darker {
    color: #00c853 !important;
}
.has-background-green-accent-darker {
    background-color: #00c853 !important;
}
.switch.with-background-green-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #00c853 !important;
}
.has-text-light-green-white-bis {
    color: #f1f8e9 !important;
}
.has-background-light-green-white-bis {
    background-color: #f1f8e9 !important;
}
.switch.with-background-light-green-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f1f8e9 !important;
}
.has-text-light-green-white-ter {
    color: #dcedc8 !important;
}
.has-background-light-green-white-ter {
    background-color: #dcedc8 !important;
}
.switch.with-background-light-green-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #dcedc8 !important;
}
.has-text-light-green-lighter-bis {
    color: #c5e1a5 !important;
}
.has-background-light-green-lighter-bis {
    background-color: #c5e1a5 !important;
}
.switch.with-background-light-green-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #c5e1a5 !important;
}
.has-text-light-green-lighter {
    color: #aed581 !important;
}
.has-background-light-green-lighter {
    background-color: #aed581 !important;
}
.switch.with-background-light-green-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #aed581 !important;
}
.has-text-light-green-light {
    color: #9ccc65 !important;
}
.has-background-light-green-light {
    background-color: #9ccc65 !important;
}
.switch.with-background-light-green-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #9ccc65 !important;
}
.has-text-light-green {
    color: #8bc34a !important;
}
.has-background-light-green {
    background-color: #8bc34a !important;
}
.switch.with-background-light-green.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #8bc34a !important;
}
.has-text-light-green-dark {
    color: #7cb342 !important;
}
.has-background-light-green-dark {
    background-color: #7cb342 !important;
}
.switch.with-background-light-green-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #7cb342 !important;
}
.has-text-light-green-darker {
    color: #689f38 !important;
}
.has-background-light-green-darker {
    background-color: #689f38 !important;
}
.switch.with-background-light-green-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #689f38 !important;
}
.has-text-light-green-black-ter {
    color: #558b2f !important;
}
.has-background-light-green-black-ter {
    background-color: #558b2f !important;
}
.switch.with-background-light-green-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #558b2f !important;
}
.has-text-light-green-black-bis {
    color: #33691e !important;
}
.has-background-light-green-black-bis {
    background-color: #33691e !important;
}
.switch.with-background-light-green-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #33691e !important;
}
.has-text-light-green-accent-lighter {
    color: #ccff90 !important;
}
.has-background-light-green-accent-lighter {
    background-color: #ccff90 !important;
}
.switch.with-background-light-green-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ccff90 !important;
}
.has-text-light-green-accent-light {
    color: #b2ff59 !important;
}
.has-background-light-green-accent-light {
    background-color: #b2ff59 !important;
}
.switch.with-background-light-green-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #b2ff59 !important;
}
.has-text-light-green-accent-dark {
    color: #76ff03 !important;
}
.has-background-light-green-accent-dark {
    background-color: #76ff03 !important;
}
.switch.with-background-light-green-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #76ff03 !important;
}
.has-text-light-green-accent-darker {
    color: #64dd17 !important;
}
.has-background-light-green-accent-darker {
    background-color: #64dd17 !important;
}
.switch.with-background-light-green-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #64dd17 !important;
}
.has-text-lime-white-bis {
    color: #f9fbe7 !important;
}
.has-background-lime-white-bis {
    background-color: #f9fbe7 !important;
}
.switch.with-background-lime-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f9fbe7 !important;
}
.has-text-lime-white-ter {
    color: #f0f4c3 !important;
}
.has-background-lime-white-ter {
    background-color: #f0f4c3 !important;
}
.switch.with-background-lime-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f0f4c3 !important;
}
.has-text-lime-lighter-bis {
    color: #e6ee9c !important;
}
.has-background-lime-lighter-bis {
    background-color: #e6ee9c !important;
}
.switch.with-background-lime-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e6ee9c !important;
}
.has-text-lime-lighter {
    color: #dce775 !important;
}
.has-background-lime-lighter {
    background-color: #dce775 !important;
}
.switch.with-background-lime-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #dce775 !important;
}
.has-text-lime-light {
    color: #d4e157 !important;
}
.has-background-lime-light {
    background-color: #d4e157 !important;
}
.switch.with-background-lime-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #d4e157 !important;
}
.has-text-lime {
    color: #cddc39 !important;
}
.has-background-lime {
    background-color: #cddc39 !important;
}
.switch.with-background-lime.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #cddc39 !important;
}
.has-text-lime-dark {
    color: #c0ca33 !important;
}
.has-background-lime-dark {
    background-color: #c0ca33 !important;
}
.switch.with-background-lime-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #c0ca33 !important;
}
.has-text-lime-darker {
    color: #afb42b !important;
}
.has-background-lime-darker {
    background-color: #afb42b !important;
}
.switch.with-background-lime-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #afb42b !important;
}
.has-text-lime-black-ter {
    color: #9e9d24 !important;
}
.has-background-lime-black-ter {
    background-color: #9e9d24 !important;
}
.switch.with-background-lime-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #9e9d24 !important;
}
.has-text-lime-black-bis {
    color: #827717 !important;
}
.has-background-lime-black-bis {
    background-color: #827717 !important;
}
.switch.with-background-lime-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #827717 !important;
}
.has-text-lime-accent-lighter {
    color: #f4ff81 !important;
}
.has-background-lime-accent-lighter {
    background-color: #f4ff81 !important;
}
.switch.with-background-lime-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f4ff81 !important;
}
.has-text-lime-accent-light {
    color: #eeff41 !important;
}
.has-background-lime-accent-light {
    background-color: #eeff41 !important;
}
.switch.with-background-lime-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #eeff41 !important;
}
.has-text-lime-accent-dark {
    color: #c6ff00 !important;
}
.has-background-lime-accent-dark {
    background-color: #c6ff00 !important;
}
.switch.with-background-lime-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #c6ff00 !important;
}
.has-text-lime-accent-darker {
    color: #aeea00 !important;
}
.has-background-lime-accent-darker {
    background-color: #aeea00 !important;
}
.switch.with-background-lime-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #aeea00 !important;
}
.has-text-yellow-white-bis {
    color: #fffde7 !important;
}
.has-background-yellow-white-bis {
    background-color: #fffde7 !important;
}
.switch.with-background-yellow-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fffde7 !important;
}
.has-text-yellow-white-ter {
    color: #fff9c4 !important;
}
.has-background-yellow-white-ter {
    background-color: #fff9c4 !important;
}
.switch.with-background-yellow-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fff9c4 !important;
}
.has-text-yellow-lighter-bis {
    color: #fff59d !important;
}
.has-background-yellow-lighter-bis {
    background-color: #fff59d !important;
}
.switch.with-background-yellow-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fff59d !important;
}
.has-text-yellow-lighter {
    color: #fff176 !important;
}
.has-background-yellow-lighter {
    background-color: #fff176 !important;
}
.switch.with-background-yellow-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fff176 !important;
}
.has-text-yellow-light {
    color: #ffee58 !important;
}
.has-background-yellow-light {
    background-color: #ffee58 !important;
}
.switch.with-background-yellow-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffee58 !important;
}
.has-text-yellow {
    color: #ffeb3b !important;
}
.has-background-yellow {
    background-color: #ffeb3b !important;
}
.switch.with-background-yellow.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffeb3b !important;
}
.has-text-yellow-dark {
    color: #fdd835 !important;
}
.has-background-yellow-dark {
    background-color: #fdd835 !important;
}
.switch.with-background-yellow-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fdd835 !important;
}
.has-text-yellow-darker {
    color: #fbc02d !important;
}
.has-background-yellow-darker {
    background-color: #fbc02d !important;
}
.switch.with-background-yellow-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fbc02d !important;
}
.has-text-yellow-black-ter {
    color: #f9a825 !important;
}
.has-background-yellow-black-ter {
    background-color: #f9a825 !important;
}
.switch.with-background-yellow-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f9a825 !important;
}
.has-text-yellow-black-bis {
    color: #f57f17 !important;
}
.has-background-yellow-black-bis {
    background-color: #f57f17 !important;
}
.switch.with-background-yellow-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f57f17 !important;
}
.has-text-yellow-accent-lighter {
    color: #ffff8d !important;
}
.has-background-yellow-accent-lighter {
    background-color: #ffff8d !important;
}
.switch.with-background-yellow-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffff8d !important;
}
.has-text-yellow-accent-light {
    color: #ffff00 !important;
}
.has-background-yellow-accent-light {
    background-color: #ffff00 !important;
}
.switch.with-background-yellow-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffff00 !important;
}
.has-text-yellow-accent-dark {
    color: #ffea00 !important;
}
.has-background-yellow-accent-dark {
    background-color: #ffea00 !important;
}
.switch.with-background-yellow-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffea00 !important;
}
.has-text-yellow-accent-darker {
    color: #ffd600 !important;
}
.has-background-yellow-accent-darker {
    background-color: #ffd600 !important;
}
.switch.with-background-yellow-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffd600 !important;
}
.has-text-amber-white-bis {
    color: #fff8e1 !important;
}
.has-background-amber-white-bis {
    background-color: #fff8e1 !important;
}
.switch.with-background-amber-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fff8e1 !important;
}
.has-text-amber-white-ter {
    color: #ffecb3 !important;
}
.has-background-amber-white-ter {
    background-color: #ffecb3 !important;
}
.switch.with-background-amber-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffecb3 !important;
}
.has-text-amber-lighter-bis {
    color: #ffe082 !important;
}
.has-background-amber-lighter-bis {
    background-color: #ffe082 !important;
}
.switch.with-background-amber-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffe082 !important;
}
.has-text-amber-lighter {
    color: #ffd54f !important;
}
.has-background-amber-lighter {
    background-color: #ffd54f !important;
}
.switch.with-background-amber-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffd54f !important;
}
.has-text-amber-light {
    color: #ffca28 !important;
}
.has-background-amber-light {
    background-color: #ffca28 !important;
}
.switch.with-background-amber-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffca28 !important;
}
.has-text-amber {
    color: #ffc107 !important;
}
.has-background-amber {
    background-color: #ffc107 !important;
}
.switch.with-background-amber.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffc107 !important;
}
.has-text-amber-dark {
    color: #ffb300 !important;
}
.has-background-amber-dark {
    background-color: #ffb300 !important;
}
.switch.with-background-amber-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffb300 !important;
}
.has-text-amber-darker {
    color: #ffa000 !important;
}
.has-background-amber-darker {
    background-color: #ffa000 !important;
}
.switch.with-background-amber-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffa000 !important;
}
.has-text-amber-black-ter {
    color: #ff8f00 !important;
}
.has-background-amber-black-ter {
    background-color: #ff8f00 !important;
}
.switch.with-background-amber-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff8f00 !important;
}
.has-text-amber-black-bis {
    color: #ff6f00 !important;
}
.has-background-amber-black-bis {
    background-color: #ff6f00 !important;
}
.switch.with-background-amber-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff6f00 !important;
}
.has-text-amber-accent-lighter {
    color: #ffe57f !important;
}
.has-background-amber-accent-lighter {
    background-color: #ffe57f !important;
}
.switch.with-background-amber-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffe57f !important;
}
.has-text-amber-accent-light {
    color: #ffd740 !important;
}
.has-background-amber-accent-light {
    background-color: #ffd740 !important;
}
.switch.with-background-amber-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffd740 !important;
}
.has-text-amber-accent-dark {
    color: #ffc400 !important;
}
.has-background-amber-accent-dark {
    background-color: #ffc400 !important;
}
.switch.with-background-amber-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffc400 !important;
}
.has-text-amber-accent-darker {
    color: #ffab00 !important;
}
.has-background-amber-accent-darker {
    background-color: #ffab00 !important;
}
.switch.with-background-amber-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffab00 !important;
}
.has-text-orange-white-bis {
    color: #fff3e0 !important;
}
.has-background-orange-white-bis {
    background-color: #fff3e0 !important;
}
.switch.with-background-orange-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fff3e0 !important;
}
.has-text-orange-white-ter {
    color: #ffe0b2 !important;
}
.has-background-orange-white-ter {
    background-color: #ffe0b2 !important;
}
.switch.with-background-orange-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffe0b2 !important;
}
.has-text-orange-lighter-bis {
    color: #ffcc80 !important;
}
.has-background-orange-lighter-bis {
    background-color: #ffcc80 !important;
}
.switch.with-background-orange-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffcc80 !important;
}
.has-text-orange-lighter {
    color: #ffb74d !important;
}
.has-background-orange-lighter {
    background-color: #ffb74d !important;
}
.switch.with-background-orange-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffb74d !important;
}
.has-text-orange-light {
    color: #ffa726 !important;
}
.has-background-orange-light {
    background-color: #ffa726 !important;
}
.switch.with-background-orange-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffa726 !important;
}
.has-text-orange {
    color: #ff9800 !important;
}
.has-background-orange {
    background-color: #ff9800 !important;
}
.switch.with-background-orange.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff9800 !important;
}
.has-text-orange-dark {
    color: #fb8c00 !important;
}
.has-background-orange-dark {
    background-color: #fb8c00 !important;
}
.switch.with-background-orange-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fb8c00 !important;
}
.has-text-orange-darker {
    color: #f57c00 !important;
}
.has-background-orange-darker {
    background-color: #f57c00 !important;
}
.switch.with-background-orange-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f57c00 !important;
}
.has-text-orange-black-ter {
    color: #ef6c00 !important;
}
.has-background-orange-black-ter {
    background-color: #ef6c00 !important;
}
.switch.with-background-orange-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ef6c00 !important;
}
.has-text-orange-black-bis {
    color: #e65100 !important;
}
.has-background-orange-black-bis {
    background-color: #e65100 !important;
}
.switch.with-background-orange-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e65100 !important;
}
.has-text-orange-accent-lighter {
    color: #ffd180 !important;
}
.has-background-orange-accent-lighter {
    background-color: #ffd180 !important;
}
.switch.with-background-orange-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffd180 !important;
}
.has-text-orange-accent-light {
    color: #ffab40 !important;
}
.has-background-orange-accent-light {
    background-color: #ffab40 !important;
}
.switch.with-background-orange-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffab40 !important;
}
.has-text-orange-accent-dark {
    color: #ff9100 !important;
}
.has-background-orange-accent-dark {
    background-color: #ff9100 !important;
}
.switch.with-background-orange-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff9100 !important;
}
.has-text-orange-accent-darker {
    color: #ff6d00 !important;
}
.has-background-orange-accent-darker {
    background-color: #ff6d00 !important;
}
.switch.with-background-orange-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff6d00 !important;
}
.has-text-deep-orange-white-bis {
    color: #fbe9e7 !important;
}
.has-background-deep-orange-white-bis {
    background-color: #fbe9e7 !important;
}
.switch.with-background-deep-orange-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fbe9e7 !important;
}
.has-text-deep-orange-white-ter {
    color: #ffccbc !important;
}
.has-background-deep-orange-white-ter {
    background-color: #ffccbc !important;
}
.switch.with-background-deep-orange-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffccbc !important;
}
.has-text-deep-orange-lighter-bis {
    color: #ffab91 !important;
}
.has-background-deep-orange-lighter-bis {
    background-color: #ffab91 !important;
}
.switch.with-background-deep-orange-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffab91 !important;
}
.has-text-deep-orange-lighter {
    color: #ff8a65 !important;
}
.has-background-deep-orange-lighter {
    background-color: #ff8a65 !important;
}
.switch.with-background-deep-orange-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff8a65 !important;
}
.has-text-deep-orange-light {
    color: #ff7043 !important;
}
.has-background-deep-orange-light {
    background-color: #ff7043 !important;
}
.switch.with-background-deep-orange-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff7043 !important;
}
.has-text-deep-orange {
    color: #ff5722 !important;
}
.has-background-deep-orange {
    background-color: #ff5722 !important;
}
.switch.with-background-deep-orange.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff5722 !important;
}
.has-text-deep-orange-dark {
    color: #f4511e !important;
}
.has-background-deep-orange-dark {
    background-color: #f4511e !important;
}
.switch.with-background-deep-orange-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f4511e !important;
}
.has-text-deep-orange-darker {
    color: #e64a19 !important;
}
.has-background-deep-orange-darker {
    background-color: #e64a19 !important;
}
.switch.with-background-deep-orange-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e64a19 !important;
}
.has-text-deep-orange-black-ter {
    color: #d84315 !important;
}
.has-background-deep-orange-black-ter {
    background-color: #d84315 !important;
}
.switch.with-background-deep-orange-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #d84315 !important;
}
.has-text-deep-orange-black-bis {
    color: #bf360c !important;
}
.has-background-deep-orange-black-bis {
    background-color: #bf360c !important;
}
.switch.with-background-deep-orange-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #bf360c !important;
}
.has-text-deep-orange-accent-lighter {
    color: #ff9e80 !important;
}
.has-background-deep-orange-accent-lighter {
    background-color: #ff9e80 !important;
}
.switch.with-background-deep-orange-accent-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff9e80 !important;
}
.has-text-deep-orange-accent-light {
    color: #ff6e40 !important;
}
.has-background-deep-orange-accent-light {
    background-color: #ff6e40 !important;
}
.switch.with-background-deep-orange-accent-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff6e40 !important;
}
.has-text-deep-orange-accent-dark {
    color: #ff3d00 !important;
}
.has-background-deep-orange-accent-dark {
    background-color: #ff3d00 !important;
}
.switch.with-background-deep-orange-accent-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ff3d00 !important;
}
.has-text-deep-orange-accent-darker {
    color: #dd2c00 !important;
}
.has-background-deep-orange-accent-darker {
    background-color: #dd2c00 !important;
}
.switch.with-background-deep-orange-accent-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #dd2c00 !important;
}
.has-text-brown-white-bis {
    color: #efebe9 !important;
}
.has-background-brown-white-bis {
    background-color: #efebe9 !important;
}
.switch.with-background-brown-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #efebe9 !important;
}
.has-text-brown-white-ter {
    color: #d7ccc8 !important;
}
.has-background-brown-white-ter {
    background-color: #d7ccc8 !important;
}
.switch.with-background-brown-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #d7ccc8 !important;
}
.has-text-brown-lighter-bis {
    color: #bcaaa4 !important;
}
.has-background-brown-lighter-bis {
    background-color: #bcaaa4 !important;
}
.switch.with-background-brown-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #bcaaa4 !important;
}
.has-text-brown-lighter {
    color: #a1887f !important;
}
.has-background-brown-lighter {
    background-color: #a1887f !important;
}
.switch.with-background-brown-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #a1887f !important;
}
.has-text-brown-light {
    color: #8d6e63 !important;
}
.has-background-brown-light {
    background-color: #8d6e63 !important;
}
.switch.with-background-brown-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #8d6e63 !important;
}
.has-text-brown {
    color: #795548 !important;
}
.has-background-brown {
    background-color: #795548 !important;
}
.switch.with-background-brown.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #795548 !important;
}
.has-text-brown-dark {
    color: #6d4c41 !important;
}
.has-background-brown-dark {
    background-color: #6d4c41 !important;
}
.switch.with-background-brown-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #6d4c41 !important;
}
.has-text-brown-darker {
    color: #5d4037 !important;
}
.has-background-brown-darker {
    background-color: #5d4037 !important;
}
.switch.with-background-brown-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #5d4037 !important;
}
.has-text-brown-black-ter {
    color: #4e342e !important;
}
.has-background-brown-black-ter {
    background-color: #4e342e !important;
}
.switch.with-background-brown-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #4e342e !important;
}
.has-text-brown-black-bis {
    color: #3e2723 !important;
}
.has-background-brown-black-bis {
    background-color: #3e2723 !important;
}
.switch.with-background-brown-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #3e2723 !important;
}
.has-text-steel-white-bis {
    color: #eceff1 !important;
}
.has-background-steel-white-bis {
    background-color: #eceff1 !important;
}
.switch.with-background-steel-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #eceff1 !important;
}
.has-text-steel-white-ter {
    color: #cfd8dc !important;
}
.has-background-steel-white-ter {
    background-color: #cfd8dc !important;
}
.switch.with-background-steel-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #cfd8dc !important;
}
.has-text-steel-lighter-bis {
    color: #b0bec5 !important;
}
.has-background-steel-lighter-bis {
    background-color: #b0bec5 !important;
}
.switch.with-background-steel-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #b0bec5 !important;
}
.has-text-steel-lighter {
    color: #90a4ae !important;
}
.has-background-steel-lighter {
    background-color: #90a4ae !important;
}
.switch.with-background-steel-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #90a4ae !important;
}
.has-text-steel-light {
    color: #78909c !important;
}
.has-background-steel-light {
    background-color: #78909c !important;
}
.switch.with-background-steel-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #78909c !important;
}
.has-text-steel {
    color: #607d8b !important;
}
.has-background-steel {
    background-color: #607d8b !important;
}
.switch.with-background-steel.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #607d8b !important;
}
.has-text-steel-dark {
    color: #546e7a !important;
}
.has-background-steel-dark {
    background-color: #546e7a !important;
}
.switch.with-background-steel-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #546e7a !important;
}
.has-text-steel-darker {
    color: #455a64 !important;
}
.has-background-steel-darker {
    background-color: #455a64 !important;
}
.switch.with-background-steel-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #455a64 !important;
}
.has-text-steel-black-ter {
    color: #37474f !important;
}
.has-background-steel-black-ter {
    background-color: #37474f !important;
}
.switch.with-background-steel-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #37474f !important;
}
.has-text-steel-black-bis {
    color: #263238 !important;
}
.has-background-steel-black-bis {
    background-color: #263238 !important;
}
.switch.with-background-steel-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #263238 !important;
}

.night.has-text-light, .night .has-text-light {
    color: #eeeeee !important;
}
.night.has-background-light, .night .has-background-light {
    background-color: #eeeeee !important;
}
.switch.with.has-background-light, .night .has-background-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #eeeeee !important;
}
.night.has-text-dark, .night .has-text-dark {
    color: #424242 !important;
}
.night.has-background-dark, .night .has-background-dark {
    background-color: #424242 !important;
}
.switch.with.has-background-dark, .night .has-background-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #424242 !important;
}
.night.has-text-white, .night .has-text-white {
    color: #ffffff !important;
}
.night.has-background-white, .night .has-background-white {
    background-color: #ffffff !important;
}
.switch.with.has-background-white, .night .has-background-white.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffffff !important;
}
.night.has-text-black, .night .has-text-black {
    color: #000000 !important;
}
.night.has-background-black, .night .has-background-black {
    background-color: #000000 !important;
}
.switch.with.has-background-black, .night .has-background-black.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #000000 !important;
}
.night.has-text-grey-white-bis, .night .has-text-grey-white-bis {
    color: #fafafa !important;
}
.night.has-background-grey-white-bis, .night .has-background-grey-white-bis {
    background-color: #fafafa !important;
}
.switch.with.has-background-grey-white-bis, .night .has-background-grey-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fafafa !important;
}
.night.has-text-grey-white-ter, .night .has-text-grey-white-ter {
    color: #f5f5f5 !important;
}
.night.has-background-grey-white-ter, .night .has-background-grey-white-ter {
    background-color: #f5f5f5 !important;
}
.switch.with.has-background-grey-white-ter, .night .has-background-grey-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f5f5f5 !important;
}
.night.has-text-grey-lighter-bis, .night .has-text-grey-lighter-bis {
    color: #eeeeee !important;
}
.night.has-background-grey-lighter-bis, .night .has-background-grey-lighter-bis {
    background-color: #eeeeee !important;
}
.switch.with.has-background-grey-lighter-bis, .night .has-background-grey-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #eeeeee !important;
}
.night.has-text-grey-lighter, .night .has-text-grey-lighter {
    color: #e0e0e0 !important;
}
.night.has-background-grey-lighter, .night .has-background-grey-lighter {
    background-color: #e0e0e0 !important;
}
.switch.with.has-background-grey-lighter, .night .has-background-grey-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e0e0e0 !important;
}
.night.has-text-grey-light, .night .has-text-grey-light {
    color: #bdbdbd !important;
}
.night.has-background-grey-light, .night .has-background-grey-light {
    background-color: #bdbdbd !important;
}
.switch.with.has-background-grey-light, .night .has-background-grey-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #bdbdbd !important;
}
.night.has-text-grey, .night .has-text-grey {
    color: #9e9e9e !important;
}
.night.has-background-grey, .night .has-background-grey {
    background-color: #9e9e9e !important;
}
.switch.with.has-background-grey, .night .has-background-grey.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #9e9e9e !important;
}
.night.has-text-grey-dark, .night .has-text-grey-dark {
    color: #757575 !important;
}
.night.has-background-grey-dark, .night .has-background-grey-dark {
    background-color: #757575 !important;
}
.switch.with.has-background-grey-dark, .night .has-background-grey-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #757575 !important;
}
.night.has-text-grey-darker, .night .has-text-grey-darker {
    color: #616161 !important;
}
.night.has-background-grey-darker, .night .has-background-grey-darker {
    background-color: #616161 !important;
}
.switch.with.has-background-grey-darker, .night .has-background-grey-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #616161 !important;
}
.night.has-text-grey-black-ter, .night .has-text-grey-black-ter {
    color: #424242 !important;
}
.night.has-background-grey-black-ter, .night .has-background-grey-black-ter {
    background-color: #424242 !important;
}
.switch.with.has-background-grey-black-ter, .night .has-background-grey-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #424242 !important;
}
.night.has-text-grey-black-bis, .night .has-text-grey-black-bis {
    color: #212121 !important;
}
.night.has-background-grey-black-bis, .night .has-background-grey-black-bis {
    background-color: #212121 !important;
}
.switch.with.has-background-grey-black-bis, .night .has-background-grey-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #212121 !important;
}

.day * {
    color: black;
}
.day *::before {
    color: inherit;
}
.day.has-text-light, .day .has-text-light {
    color: #424242 !important;
}
.day.has-background-light, .day .has-background-light {
    background-color: #424242 !important;
}
.switch.with.has-background-light, .day .has-background-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #424242 !important;
}
.day.has-text-dark, .day .has-text-dark {
    color: #eeeeee !important;
}
.day.has-background-dark, .day .has-background-dark {
    background-color: #eeeeee !important;
}
.switch.with.has-background-dark, .day .has-background-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #eeeeee !important;
}
.day.has-text-white, .day .has-text-white {
    color: #000000 !important;
}
.day.has-background-white, .day .has-background-white {
    background-color: #000000 !important;
}
.switch.with.has-background-white, .day .has-background-white.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #000000 !important;
}
.day.has-text-black, .day .has-text-black {
    color: #ffffff !important;
}
.day.has-background-black, .day .has-background-black {
    background-color: #ffffff !important;
}
.switch.with.has-background-black, .day .has-background-black.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #ffffff !important;
}
.day.has-text-grey-white-bis, .day .has-text-grey-white-bis {
    color: #212121 !important;
}
.day.has-background-grey-white-bis, .day .has-background-grey-white-bis {
    background-color: #212121 !important;
}
.switch.with.has-background-grey-white-bis, .day .has-background-grey-white-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #212121 !important;
}
.day.has-text-grey-white-ter, .day .has-text-grey-white-ter {
    color: #424242 !important;
}
.day.has-background-grey-white-ter, .day .has-background-grey-white-ter {
    background-color: #424242 !important;
}
.switch.with.has-background-grey-white-ter, .day .has-background-grey-white-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #424242 !important;
}
.day.has-text-grey-lighter-bis, .day .has-text-grey-lighter-bis {
    color: #616161 !important;
}
.day.has-background-grey-lighter-bis, .day .has-background-grey-lighter-bis {
    background-color: #616161 !important;
}
.switch.with.has-background-grey-lighter-bis, .day .has-background-grey-lighter-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #616161 !important;
}
.day.has-text-grey-lighter, .day .has-text-grey-lighter {
    color: #757575 !important;
}
.day.has-background-grey-lighter, .day .has-background-grey-lighter {
    background-color: #757575 !important;
}
.switch.with.has-background-grey-lighter, .day .has-background-grey-lighter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #757575 !important;
}
.day.has-text-grey-light, .day .has-text-grey-light {
    color: #9e9e9e !important;
}
.day.has-background-grey-light, .day .has-background-grey-light {
    background-color: #9e9e9e !important;
}
.switch.with.has-background-grey-light, .day .has-background-grey-light.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #9e9e9e !important;
}
.day.has-text-grey, .day .has-text-grey {
    color: #bdbdbd !important;
}
.day.has-background-grey, .day .has-background-grey {
    background-color: #bdbdbd !important;
}
.switch.with.has-background-grey, .day .has-background-grey.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #bdbdbd !important;
}
.day.has-text-grey-dark, .day .has-text-grey-dark {
    color: #e0e0e0 !important;
}
.day.has-background-grey-dark, .day .has-background-grey-dark {
    background-color: #e0e0e0 !important;
}
.switch.with.has-background-grey-dark, .day .has-background-grey-dark.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #e0e0e0 !important;
}
.day.has-text-grey-darker, .day .has-text-grey-darker {
    color: #eeeeee !important;
}
.day.has-background-grey-darker, .day .has-background-grey-darker {
    background-color: #eeeeee !important;
}
.switch.with.has-background-grey-darker, .day .has-background-grey-darker.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #eeeeee !important;
}
.day.has-text-grey-black-ter, .day .has-text-grey-black-ter {
    color: #f5f5f5 !important;
}
.day.has-background-grey-black-ter, .day .has-background-grey-black-ter {
    background-color: #f5f5f5 !important;
}
.switch.with.has-background-grey-black-ter, .day .has-background-grey-black-ter.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #f5f5f5 !important;
}
.day.has-text-grey-black-bis, .day .has-text-grey-black-bis {
    color: #fafafa !important;
}
.day.has-background-grey-black-bis, .day .has-background-grey-black-bis {
    background-color: #fafafa !important;
}
.switch.with.has-background-grey-black-bis, .day .has-background-grey-black-bis.switch input[type=checkbox]:checked+.check {
    box-shadow: none !important;
    background-color: #fafafa !important;
}